* {
  margin: 0;
  padding: 0;
  border: none;
}

ul, ol, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  background: rgba(69, 143, 246, 0.64);
  backdrop-filter: blur(175px);
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    width: 90% !important;
  }
}
@media (max-width: 992px) {
  .header {
    width: 90% !important;
  }
}
@media (max-width: 756px) {
  .header {
    width: 90% !important;
  }
  .header--two {
    width: 250% !important;
  }
  .header .circle .circle {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .header .circle .circle #circle .circle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .header .circle .circle__nav {
    display: none !important;
  }
  .header .circle .circle__search2 {
    width: 12vw;
    margin: 0 0.1vw !important;
  }
  .header .circle .footer {
    width: 141%;
  }
  .header .subtitle {
    font-weight: bold;
    font-size: 34px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 50px;
    margin-top: 30%;
  }
}
@media (max-width: 756px) and (max-width: 567px) {
  .header .header {
    width: 90% !important;
  }
  .header .header__nav {
    display: none !important;
  }
  .header .header--two {
    width: 250% !important;
  }
  .header .header #circle .circle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .header .header__search2 {
    width: 12vw;
    margin: 0 0.1vw !important;
  }
  .header .header--title {
    width: 65%;
  }
  .header .header .footer {
    width: 50%;
  }
  .header .header .footer__item {
    width: 100%;
  }
}
@media (max-width: 756px) and (max-width: 414px) {
  .header .header {
    width: 90% !important;
  }
  .header .header--two {
    width: 250% !important;
  }
  .header .header #circle .circle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .header .header__nav {
    display: none !important;
  }
  .header .header__search2 {
    width: 12vw;
    margin: 0 0.1vw !important;
  }
  .header .footer {
    width: 100%;
  }
  .header .footer__item {
    width: 100%;
  }
}
@media (max-width: 756px) and (max-width: 370px) {
  .header .header {
    width: 90% !important;
  }
  .header .header--two {
    width: 250% !important;
  }
  .header .header .circle .circle {
    display: flex !important;
    justify-content: space-around !important;
    flex-wrap: wrap !important;
  }
  .header .header__nav {
    display: none !important;
  }
  .header .header__search2 {
    width: 12vw;
    margin: 0 0.1vw !important;
  }
  .header .footer {
    width: 100%;
  }
  .header .footer__item {
    width: 100%;
  }
}
@media (max-width: 756px) and (max-width: 320px) {
  .header .header {
    width: 90% !important;
  }
  .header .header #circle .circle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .header .header__nav {
    display: none !important;
  }
}
.container {
  width: 90%;
  margin: auto;
}

#header {
  padding-top: 3%;
}
#header .header {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}
#header .header__nav {
  display: flex;
  justify-content: space-between;
}
#header .header__nav--item {
  display: inline-block;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 23px;
  opacity: 0.5;
  margin: 0 15px;
}
#header .header__nav--item:hover {
  color: black;
  border-bottom: 2px solid black;
}

#hero .hero {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
#hero .hero__title {
  width: 30%;
}
#hero .hero__title__subtitle {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin-bottom: 50px;
  margin-top: 30%;
}
#hero .hero__title__description {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
  margin-bottom: 40px;
}
#hero .hero__title__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  background: white;
  border-radius: 55px;
  margin-bottom: 40px;
}
#hero .hero__title__button:hover {
  background: #458FF6;
}
#hero .hero__title__button--white {
  background: transparent;
  color: #000000;
  align-items: center;
}
#hero .hero__photo {
  width: 60%;
}

#block .block {
  padding-bottom: 10%;
}
#block .block__servic__our {
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  color: #181818;
}
#block .block__servic--height {
  margin-left: 45%;
  color: yellow;
  width: 10%;
  height: 2px;
  background: #111213;
  margin-top: 1%;
}
#block .block__servic__best {
  height: 40px;
  width: 54%;
  margin-left: 20%;
  color: rgba(255, 255, 255, 0.62);
  margin-top: 2%;
}
#block .block__desk {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3%;
}
#block .block__desk__fon {
  width: 280px;
  height: 204px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 40px;
  margin-top: 3%;
}
#block .block__desk__fon:hover {
  transform: rotate(10deg);
  transition: 1s;
}
#block .block__desk__fon__cub--search {
  margin-top: 14px;
}
#block .block__desk__fon__cub--doc {
  margin-top: 14px;
}
#block .block__dws {
  margin-top: 5%;
}
#block .block__dws--butt {
  width: 22%;
  height: 56px;
  background: white;
  border-radius: 55px;
  margin-left: 40%;
}
#block .block__dws--butt:hover {
  background: #458FF6;
}

#text .text {
  padding-bottom: 15%;
  display: flex;
  justify-content: space-between;
}
#text .text__pic {
  display: flex;
  justify-content: space-between;
}
#text .text__pic__red {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: rgba(69, 110, 246, 0.99);
  margin-left: 4%;
}
#text .text__pic__red__just {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
  margin-bottom: 40px;
}
#text .text__pic__red--work {
  width: 20%;
  height: 2px;
  background: #1F1534;
  margin: 30px 0;
}
#text .text__pic__red--btn {
  width: 200px;
  height: 56px;
  border: 1.4px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  margin-top: 8%;
}
#text .text__pic__red--btn:hover {
  background: transparent;
  transform: matrix(1.13);
}
#text .text__photo {
  width: 60%;
}

#text2 .text2 {
  display: flex;
  justify-content: space-between;
}
#text2 .text2__pic {
  display: flex;
  justify-content: space-between;
}
#text2 .text2__pic__red {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: rgba(69, 110, 246, 0.99);
}
#text2 .text2__pic__red--just {
  font-weight: 300;
  font-size: 15px;
  line-height: 32px;
  color: #7D7987;
  margin-bottom: 40px;
}
#text2 .text2__pic__red--work {
  background: #1F1534;
}
#text2 .text2__pic__red--btn {
  width: 200px;
  height: 56px;
  border: 1.4px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  margin-top: 4%;
}
#text2 .text2__pic__red--btn:hover {
  background: transparent;
  transform: matrix(1.13);
}
#text2 .text2__photo {
  width: 60%;
}

#about .about {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
#about .about .slick-prev {
  background: url("/img/Vec.svg") no-repeat center/20px;
  width: 40px;
  height: 30px;
  font-size: 0;
  padding-top: 1%;
}
#about .about .slick-next {
  width: 40px;
  font-size: 0;
  height: 40px;
  background: url("/img/Vec2.svg") no-repeat center/20px;
  padding-top: 10%;
}
#about .about .slick-dots {
  position: relative;
  display: flex;
  justify-content: center;
  top: 50px;
}
#about .about .slick-dots .slick-active button {
  background: chartreuse;
}
#about .about .slick-dots li button {
  cursor: pointer;
  margin: 0 10px;
  font-size: 0;
  background: #000;
  padding: 5px;
  border-radius: 50%;
}
#about .about__work {
  width: 70%;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 5%;
  padding: 2%;
}
#about .about__work__saying {
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
}
#about .about__work__height {
  margin-left: 45%;
  color: yellow;
  width: 10%;
  height: 2px;
  background: #d1d5db;
  margin-top: 1%;
}
#about .about__work__par--box {
  padding-top: 50px;
  display: flex;
  align-items: center;
}
#about .about__work__par--date {
  margin-right: 30%;
  margin-left: 60px;
}
#about .about__work__par--new {
  padding-top: 5%;
  color: #d1d5db;
}
#about .about__work__par__height {
  width: 100px;
  height: 2px;
  background: #000;
  margin-left: 45%;
}
#about .about__work__par__boy {
  border-radius: 50%;
}
#about .about__work__par--per {
  color: #FFFFFF;
}

#circle .circle {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#circle .circle__time {
  width: 50%;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(255, 255, 255, 0.63);
  border-radius: 20px;
  padding: 2%;
  margin: 90px 15px;
}
#circle .circle__time:hover {
  transform: rotate(10deg);
  transition: 1s;
}
#circle .circle__time--search {
  margin-top: 30px;
}
#circle .circle__time--search--img {
  width: 50%;
}
#circle .circle__time--search--search4 {
  margin-top: 30px;
  border-radius: 50px;
}
#circle .circle__time--search--search4--read {
  margin-top: 19px;
  margin-left: 35%;
  color: #458FF6;
}
#circle .circle__time__all {
  width: 100px;
  height: 40px;
  background: red;
}

#footer .footer {
  width: 90%;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 17px;
  padding: 5%;
  margin-top: 3%;
  color: #FFFFFF;
}

.desc {
  width: 50%;
  margin-top: 2%;
}

.elem1 {
  margin-top: 4%;
}

.fight {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.google {
  margin: 0 50px;
}

/*# sourceMappingURL=style.css.map */
