@media (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .hero {
    &__subtitle {
      font-size: 35px;
    }
  }
  .block {
    &__desk {
      margin: 0 10px;
    }
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
  .header {
    &__nav {
      display: none !important;
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@media (max-width: 414px) {
  .circle {
    &__time {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
