@import "reset";
@import "variables";
@import "slick";
@import "media";

body {
  @extend %bg
}

.container {
  width: 90%;
  margin: auto;
}

//header
#header {
  padding-top: 3%;

  .header {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;

    &__nav {
      display: flex;
      justify-content: space-between;

      //&--item2 {
      //  font-size: 18px;
      //  line-height: 23px;
      //  color: #1F1534;
      //}
      &--item {
        display: inline-block;
        color: #FFFFFF;
        font-family: sans-serif;
        font-size: 18px;
        line-height: 23px;
        opacity: 0.5;
        margin: 0 15px;

        &:hover {
          color: black;
          border-bottom: 2px solid black;
        }
      }
    }
  }
}

//header
//hero
#hero {
  .hero {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    &__title {
      width: 30%;

      &__subtitle {
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        color: #000000;
        margin-bottom: 50px;
        margin-top: 30%;
      }

      &__description {
        font-weight: 300;
        font-size: 21px;
        line-height: 32px;
        color: #7D7987;
        margin-bottom: 40px;
      }

      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 56px;
        background: white;
        border-radius: 55px;
        margin-bottom: 40px;

        &:hover {
          background: #458FF6;
        }

        &--white {
          background: transparent;
          color: #000000;
          align-items: center;
        }
      }
    }

    &__photo {
      width: 60%;
    }
  }
}

//hero

//block
#block {
  .block {
    padding-bottom: 10%;
    &__servic {
      &__our {
        text-align: center;
        font-size: 36px;
        line-height: 48px;
        color: #181818;
      }

      &--height {
        margin-left: 45%;
        color: yellow;
        width: 10%;
        height: 2px;
        background: rgb(17, 18, 19);
        margin-top: 1%;
      }

      &__best {
        height: 40px;
        width: 54%;
        margin-left: 20%;
        color: rgba(255, 255, 255, 0.62);
        margin-top: 2%;
      }
    }

    &__desk {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 3%;

      &__fon {
        width: 280px;
        height: 204px;
        background: #FFFFFF;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;
        padding: 40px;
        margin-top: 3%;
        &:hover{
          transform: rotate(10deg);
          transition: 1s;
        }
        &__cub {
          &--search {
            margin-top: 14px;
          }

          &--doc {
            margin-top: 14px;
          }
        }
      }
    }

    &__dws {
      margin-top: 5%;

      &--butt {
        width: 22%;
        height: 56px;
        background: white;
        border-radius: 55px;
        margin-left: 40%;

        &:hover {
          background: #458FF6;
        }
      }
    }
  }
}

//block

//text
#text {
  .text {
    padding-bottom: 15%;
    display: flex;
    justify-content: space-between;

    &__pic {
      display: flex;
      justify-content: space-between;

      &__red {
        font-weight: bold;
        font-size: 36px;
        line-height: 56px;
        color: rgba(69, 110, 246, 0.99);
        margin-left: 4%;


        &__just {
          font-weight: 300;
          font-size: 21px;
          line-height: 32px;
          color: #7D7987;
          margin-bottom: 40px;
        }

        &--work {
          width: 20%;
          height: 2px;
          background: #1F1534;
          margin: 30px 0;
        }

        &--btn {
          width: 200px;
          height: 56px;
          border: 1.4px solid #458FF6;
          box-sizing: border-box;
          border-radius: 55px;
          margin-top: 8%;

          &:hover {
            background: transparent;
            transform: matrix(1.13);
          }
        }
      }
    }

    &__photo {
      width: 60%;
    }
  }
}

//text


//text2

#text2 {
  .text2 {
    display: flex;
    justify-content: space-between;

    &__pic {
      display: flex;
      justify-content: space-between;

      &__red {
        font-weight: bold;
        font-size: 36px;
        line-height: 56px;
        color: rgba(69, 110, 246, 0.99);

        &--just {
          font-weight: 300;
          font-size: 15px;
          line-height: 32px;
          color: #7D7987;
          margin-bottom: 40px;
        }

        &--work {
          background: #1F1534;
        }

        &--btn {
          width: 200px;
          height: 56px;
          border: 1.4px solid #458FF6;
          box-sizing: border-box;
          border-radius: 55px;
          margin-top: 4%;

          &:hover {
            background: transparent;
            transform: matrix(1.13);
          }
        }
      }

    }

    &__photo {
      width: 60%;
    }
  }
}

//text2

//about
#about {
  .about {
    display: flex;
    justify-content: center;
    margin-top: 15%;

    .slick-prev {
      background: url("/img/Vec.svg") no-repeat center/20px;
      width: 40px;
      height: 30px;
      font-size: 0;
      padding-top: 1%;

    }

    .slick-next {
      width: 40px;
      font-size: 0;
      height: 40px;
      background: url("/img/Vec2.svg") no-repeat center/20px;
      padding-top: 10%;
    }

    .slick-dots {
      position: relative;
      display: flex;
      justify-content: center;
      top: 50px;

      .slick-active button {
        background: chartreuse;
      }

      li {

        button {
          cursor: pointer;
          margin: 0 10px;
          font-size: 0;
          background: #000;
          padding: 5px;
          border-radius: 50%;
        }
      }
    }

    &__work {
      width: 70%;
      background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
      border-radius: 5%;
      padding: 2%;

      &__saying {
        text-align: center;
        font-size: 36px;
        line-height: 48px;
        color: #FFFFFF;
      }

      &__height {
        margin-left: 45%;
        color: yellow;
        width: 10%;
        height: 2px;
        background: rgb(209, 213, 219);
        margin-top: 1%;
      }

      &__par {
        &--box {
          padding-top: 50px;
          display: flex;
          align-items: center;
        }

        &--date {
          margin-right: 30%;
          margin-left: 60px;
        }

        &--new {
          padding-top: 5%;
          color: rgb(209, 213, 219);
        }

        &__height {
          width: 100px;
          height: 2px;
          background: #000;
          margin-left: 45%;
        }

        &__boy {
          border-radius: 50%;
        }

        &--per {
          color: #FFFFFF
        }
      }
    }
  }
}

//about

//circle

#circle {
  .circle {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;


    &__time {
      width: 50%;
      background: #FFFFFF;
      box-shadow: 10px 40px 50px rgba(255, 255, 255, 0.63);
      border-radius: 20px;
      padding: 2%;
      margin: 90px 15px;
      &:hover{
        transform: rotate(10deg);
        transition: 1s;
      }

      &--search {
        margin-top: 30px;

        &--img {
          width: 50%;
        }

        &--search4 {
          margin-top: 30px;
          border-radius: 50px;

          &--read {
            margin-top: 19px;
            margin-left: 35%;
            color: #458FF6;
          }
        }
      }

      &__all {
        width: 100px;
        height: 40px;
        background: red;
      }
    }
  }
}

//circle

//FOOTER

#footer {

  .footer {
    width: 90%;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 17px;
    padding: 5%;
    margin-top: 3%;
    color: #FFFFFF;

  }
}

.desc {
  width: 50%;
  margin-top: 2%;
}

.elem1 {
  margin-top: 4%;
}

.fight {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.google {
  margin: 0 50px;
}

//FOOTER

